.about {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #232323;
  overflow-x: clip;
}

.content {
  display: flex;
  align-items: center;
  padding: 160px 24px 240px 24px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.line {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.7;
  white-space: pre-wrap;
  color: #f2f2f2;
  display: block;
  margin-bottom: 0;
}

.spacer {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 0;
  display: block;
  margin-bottom: 0;
}

.blockBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.borderBlock {
  position: absolute;
  background-color: #232323;
  border-radius: 12px;
  transform-origin: bottom center;
}

@media (min-width: 800px) {
  .content {
    padding: 320px 80px 400px 80px;
  }
}
